.container {
   margin: 40px;
 height: 2000px;
}

nav {
  background-color: #357;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  color: white;
  list-style-type: none;
}

.navbar li{
  float: right;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
nav a:hover { color: yellow}

h1 {
  float: left;
  color: white;
  font-size: 35px;
  font-family: Garamond;
}
