body {
  background-color: #0a1b36;
  background-image: ;
}

footer {
  color: #f5fbff;
}

h1, h2 {
  color: #AADEF2;
  font-family: garamond;
  text-align: center;
  
}

nav {
  background-color: #2684c7;
  color: white;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbar li {
  float: right;
  display: flex;
  padding: 50px;
}

p {
  font-family: arial;
  color: #f5fbff;
}
