/* Base Styles — Mobile First */

body {
  background-color: #001133;
  background-image: url("");
  padding: 10rem;
}

.container {
  background: linear-gradient(to bottom, #3564F0, #0b3a8c);
  left: 0;
  padding: .75rem 1rem;
  position: fixed;
  right: 0;
  bottom: 0;
}


h1, h2, h3{
  color: #AADEF2;
  font-family: garamond;
  text-align: center;
  
}

h4 {
  color: #AADEF2;
  font-family: garamond;
  text-align: center;
}

header {
  background: linear-gradient(to bottom, #3564F0, #0b3a8c);
  left: 0;
  padding: .75rem 1rem;
  position: fixed;
  right: 0;
  top: 0;
}

.intro {
  display: block;
  text-align: center;
}

img {
  border-radius: 154px;
  box-shadow: 0 15px 10px rgba(0,0,2,0.2);;
  height: auto;
  max-width: 400px;
  margin-top: 9rem;
  position: center;
}


/* Iphone and Up */
@media (min-width: 375px) {
  .intro {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
    text-align: left;
  }


    
  }  

.bio, h2, h3 {
  margin-top: 0.5rem;
  font-size: 3rem;
  text-align: center;
}

.bio, p {
  font-size: 1rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}


nav {
  color: white;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbar li {
  float: left;
  font-family: arial;
  display: flex;
  padding: 30px;
}

p {
  font-family: arial;
  color: #f5fbff;
}
  
/* Hobbies section*/
  .hobbies {
    margin-top: 25rem;
    text-align: center;
  }
  
  .hobbies ul {
    list-style-type: square;
    right: 9rem;
    text-align: left;
  }
  
  .hobbies li {
    color: white;
    margin-top: 10rem;
    font-size: 1.2rem;
    font-family: arial;
  } 
